<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Table of records</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Distance</th>
                    <th>Created</th>
                    <th>Update</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                <div>{{errorMessage}}</div>
                <tr *ngFor="let rec of recordsData">
                    <td>{{rec._type}}</td>
                    <td>{{rec._name}}</td>
                    <td>{{rec._description}}</td>
                    <td>{{rec._distance}}</td>
                    <td>{{rec._created | date:'fullDate'}}</td>
                    <td>{{rec._updated | date:'fullDate'}}</td>
                    <td>{{rec._duration | myDurationPipe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
