<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Sport diary</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a routerLink="/records" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Table of records</a></li>
        <li><a routerLink="/records/add" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Add new record</a></li>
        <li><a routerLink="/charts" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Charts</a></li>
        <li><a routerLink="/login" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Login page</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>