<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1>Login page</h1>
            <div *ngIf="userMessage" class="alert alert-success">{{userMessage}}</div>
            <div *ngIf="userError" class="alert alert-danger">{{userError}}</div>
            <input type="button" class="btn btn-primary" value="Log in" (click)="logIn()">
        </div>
    </div>
</div>